/* Default styling for the image section */
  body {
    background-color: #fbfbfb;
  }

  p {
    color: #89898a;
  }

  html {
    font-family: century-gothic;
  }

  .image-section {
    position: relative;
    background-image: url('image-placeholder.png');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    color: #000; /* Text color */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Styling for the content within the image section */
  .image-section .content {
    max-width: 80%; /* Limit content width */
  }
  
  .image-section .content h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .image-section .content p {
    font-size: 18px;
  }
  
  /* Media queries for responsiveness */
    
    /* Desktop */
    @media (min-width: 1024px) {
      .image-section {
        height: 600px; /* Adjust height for desktop */
      }
    }
    
    /* Tablet */
    @media (min-width: 768px) and (max-width: 1023px) {
      .image-section {
        height: 500px; /* Adjust height for tablet */
      }
    }
    
    /* Mobile */
    @media (max-width: 767px) {
      .image-section {
        height: auto; /* Adjust height for mobile */
      }
    }