* {
    padding: 0;
    margin: 0;
}

html {
    font-family: century-gothic;
}
/*---------------------------------------------------------*/


/* header */ 
.header__container {
    width: 100%;
    height: 60px;
    background-color: #232328;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* header ends */ 



/*body starts */ 
.body {
    height: 95vh;
    width: 100%;
    padding-top: 50px;
}

.main__title {
    display: flex;
    justify-content: center;
}
.faq__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__browse {
    width: 81%;
    padding: 50px 0px 10px 0px;
}

.faq__container__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
}

.faq__container__item {
    background-color: #89898A;
    height: 120px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-color: rgb(174, 172, 172);
    border-style: solid;
    border-width: 0.3px;
    padding: 0px 10px;
}

.faq__questions {
    padding-bottom: 10px;
}

.faq__container__item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.faq__container__item:last-child {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.faq__container__item:nth-child(2n) {
    background-color: #D9d4d0;
}

/* body ends */ 




/* footer */ 
footer {
    height: 160px;
    display: flex;
    align-items: flex-end;
}
.footer__container {
    width: 100%;
    height: 100px;
    background-color: #232328;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer ends */ 




@media screen and (min-width: 1201px) {
    .faq__browse {
        font-size: larger;
    }
    .faq__container__item {
        height: 150px;
        font-size: large;
    }

}

@media screen and (max-width: 540px) {
    .faq__container__item {
        height: 150px;
    }
}