/* Global styles */
body {
    background-color: #fbfbfb;
    margin: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Main styles */

html {
    font-family: 'Century Gothic';
}

h5 {
    text-align: center;
}

main {
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; /* Adjust for padding */
}

.col {
    flex: 0 0 calc(50% - 30px); /* Two columns in each row */
    padding: 0 15px; /* Adjust for margin */
    margin-bottom: 30px; /* Adjust as needed */
}

.card {
    border: 1px solid #ddd;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center; /* Center the title */
}

.card-text {
    font-size: 16px;
}

.rental-button {
    display: block;
    background-color: #9e8a78;
    cursor: pointer;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 12px;
    color: #fbfbfb;
    text-transform: uppercase;
    padding: 0 30px;
    height: 45px;
    margin: auto;
    border: #9e8a78;
    position: relative;
    text-align: center; /* Center the text */
    line-height: 45px; /* Vertically center the text */
    text-decoration: none !important; /* Remove underline */
}

.rental-button:hover {
    filter: brightness(80%);
}

.image-section {
    position: relative;
    background-image: url('image-placeholder.png');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    color: #000; /* Text color */
    display: flex; /* Use flexbox to center content vertically and horizontally */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Styling for the content within the image section */
.image-section .content {
    max-width: 80%; /* Limit content width */
}

.image-section .content h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.image-section .content p {
    font-size: 18px;
}

/* Media queries for responsiveness */

/* Desktop */
@media (min-width: 1024px) {
    .image-section {
        height: 600px; /* Adjust height for desktop */
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .image-section {
        height: 500px; /* Adjust height for tablet */
    }
}

/* Mobile */
@media (max-width: 767px) {
    .image-section {
        height: auto; /* Adjust height for mobile */
    }
}

