body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
}
.close-button{
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}
legend {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
input[type="email"]::placeholder {
    font-size: 16px; 
}

input[type="checkbox"] {
    width: 30px;
    height: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    max-width: 100%;
    padding: 10px;
    background-color: #454a4f;
    color: aliceblue;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #02080d;
    transition: color 0.10s ease-out;
}
