/* main.css */

.image-section {
  position: relative;
  background-image: url('image-placeholder.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  color: #000; /* Text color */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  text-align: center;
}

.image-section .content {
  max-width: 80%; /* Limit content width */
  position: absolute; /* Position the content absolutely */
  top: 50%; /* Align the top of the content to the vertical center */
  left: 50%; /* Align the left of the content to the horizontal center */
  transform: translate(-50%, -50%); /* Adjust position to center */
}

.image-section .content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.image-section .content p {
  font-size: 18px;
  margin-bottom: 20px; /* Add margin to separate paragraphs */
}


